<!-- Section: Blog v.1 -->
<section class="my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">About</h2>
        <!-- Section description -->
       

      
        <!-- Grid row -->
        <div class="row">
      
          <!-- Grid column -->
          <div class="col-lg-7">
      
         
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>COLLAB-JUNCTION</strong></h3>
            <!-- Excerpt -->
            <h5>Collab-Junction is a platform for all the innovators to turn their ideas 
                    into reality. </h5>
                <h5>There is no dearth of innovators but many innovative ideas fail to see the daylight due to lack of resources, skills and funding. On the other hand there are people having skills, resources and funding, but waiting for the idea to finally start a venture. What we need is a platform that allows innovators, investors, service providers, and entrepreneurs to discover each other, collaborate on ideas, and transform the ideas to products and services in the marketplace.</h5>
            <!-- Post data -->
           
            <!-- Read more button -->
            <!-- <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Find More</a> -->
      
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-5">
      
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
              <img class="img-fluid" src="/assets/img/about.jpeg" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
      

      
      </section>
      <!-- Section: Blog v.1 -->