/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.myPanelClass{
    margin-top: 30px !important; 
  }

  body{
    height: 100vh;
  }

  .mat-form-field-infix
{
  margin-top: -10px;
}

header mdb-navbar-brand
{
  font-family: 'Libre Baskerville', serif;
  
}

p,h5,h6,h3,h4{
  font-family: 'Literata', serif;

}